:root{
    --bg-color: #8B5CF6;
    --bg-color2: #000;
    --bg-color3: #fff;
    --txt-color: #fff;
    --txt-color2: #333;
    --txt-color3: #8B5CF6;
}
body.dark{
    --bg-color: #6D28D9;
    --bg-color2: #fff;
    --bg-color3: #1F1F1F;
    --txt-color: #1F1F1F;
    --txt-color2: #F3F4F6;
    --txt-color3: #A78BFA;
}
.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: fit-content;
    margin-top: 100px;
}
.header_content .heading{
    font: 600 2rem "Roboto", sans-serif;
    text-align: center;
    color: var(--txt-color2);
}
.header_content .heading_text{
    font: 500 1.8rem "Roboto", sans-serif;
    text-align: center;
    color: var(--txt-color3);
    margin: 0;
}
.search_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.search_btns button{
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: var(--txt-color);
    font: 500 0.9rem "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
.look{background-color: var(--bg-color);}
.search{background-color: var(--bg-color2);}
.search_inp{position: relative; margin-top: 20px;}
.search_inp input{
    width: 200px;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    font: 400 1rem "Roboto", sans-serif;
    background-color: var(--bg-color3);
    outline: none;
}
.search_inp input:focus{outline: 1px solid var(--bg-color);}
.search_icon{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
}

@media (min-width: 768px) {
    .header_content .heading{
        font: 600 3rem "Roboto", sans-serif;
    }
    .header_content .heading_text{
        font: 500 2.5rem "Roboto", sans-serif;
    }
           
}